<form method="POST" action="/taskdetails/{{taskdetail._id}}?_method=PUT" class="mt-4 container-form">
    <h2 class="heading-form">{{taskdetail.idtask.name}}</h2>
    <div class="input-form">
        <input type="hidden" name="slug" value="{{taskdetail.idtask.slug}}">
        <div class="form-group">
            <input type="text" class="form-control" name="name" value="{{taskdetail.name}}" placeholder="Chỉnh sửa nhiệm vụ...">
        </div>
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
    </div>
</form>